widget_preview_test/.fvmrc
widget_preview_test/.gitignore
widget_preview_test/.metadata
widget_preview_test/analysis_options.yaml
widget_preview_test/pubspec.lock
widget_preview_test/pubspec.yaml
widget_preview_test/README.md
widget_preview_test/.vscode/settings.json
widget_preview_test/android/.gitignore
widget_preview_test/android/build.gradle.kts
widget_preview_test/android/gradle.properties
widget_preview_test/android/settings.gradle.kts
widget_preview_test/android/app/build.gradle.kts
widget_preview_test/android/app/src/debug/AndroidManifest.xml
widget_preview_test/android/app/src/main/AndroidManifest.xml
widget_preview_test/android/app/src/main/kotlin/com/example/widget_preview_test/MainActivity.kt
widget_preview_test/android/app/src/main/res/drawable/launch_background.xml
widget_preview_test/android/app/src/main/res/drawable-v21/launch_background.xml
widget_preview_test/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
widget_preview_test/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
widget_preview_test/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
widget_preview_test/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
widget_preview_test/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
widget_preview_test/android/app/src/main/res/values/styles.xml
widget_preview_test/android/app/src/main/res/values-night/styles.xml
widget_preview_test/android/app/src/profile/AndroidManifest.xml
widget_preview_test/android/gradle/wrapper/gradle-wrapper.properties
widget_preview_test/ios/.gitignore
widget_preview_test/ios/Flutter/AppFrameworkInfo.plist
widget_preview_test/ios/Flutter/Debug.xcconfig
widget_preview_test/ios/Flutter/Release.xcconfig
widget_preview_test/ios/Runner/AppDelegate.swift
widget_preview_test/ios/Runner/Info.plist
widget_preview_test/ios/Runner/Runner-Bridging-Header.h
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
widget_preview_test/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
widget_preview_test/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
widget_preview_test/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
widget_preview_test/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
widget_preview_test/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
widget_preview_test/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
widget_preview_test/ios/Runner/Base.lproj/LaunchScreen.storyboard
widget_preview_test/ios/Runner/Base.lproj/Main.storyboard
widget_preview_test/ios/Runner.xcodeproj/project.pbxproj
widget_preview_test/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
widget_preview_test/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
widget_preview_test/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
widget_preview_test/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
widget_preview_test/ios/Runner.xcworkspace/contents.xcworkspacedata
widget_preview_test/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
widget_preview_test/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
widget_preview_test/ios/RunnerTests/RunnerTests.swift
# widget_preview_test/lib/main.dart
# widget_preview_test/lib/previews_basic.dart
# widget_preview_test/lib/previews_custom.dart
# widget_preview_test/lib/previews_multi.dart
# widget_preview_test/lib/widgets.dart
widget_preview_test/linux/.gitignore
widget_preview_test/linux/CMakeLists.txt
widget_preview_test/linux/flutter/CMakeLists.txt
widget_preview_test/linux/flutter/generated_plugin_registrant.cc
widget_preview_test/linux/flutter/generated_plugin_registrant.h
widget_preview_test/linux/flutter/generated_plugins.cmake
widget_preview_test/linux/runner/CMakeLists.txt
widget_preview_test/linux/runner/main.cc
widget_preview_test/linux/runner/my_application.cc
widget_preview_test/linux/runner/my_application.h
widget_preview_test/macos/.gitignore
widget_preview_test/macos/Flutter/Flutter-Debug.xcconfig
widget_preview_test/macos/Flutter/Flutter-Release.xcconfig
widget_preview_test/macos/Flutter/GeneratedPluginRegistrant.swift
widget_preview_test/macos/Runner/AppDelegate.swift
widget_preview_test/macos/Runner/DebugProfile.entitlements
widget_preview_test/macos/Runner/Info.plist
widget_preview_test/macos/Runner/MainFlutterWindow.swift
widget_preview_test/macos/Runner/Release.entitlements
widget_preview_test/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
widget_preview_test/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
widget_preview_test/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
widget_preview_test/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
widget_preview_test/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
widget_preview_test/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
widget_preview_test/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
widget_preview_test/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
widget_preview_test/macos/Runner/Base.lproj/MainMenu.xib
widget_preview_test/macos/Runner/Configs/AppInfo.xcconfig
widget_preview_test/macos/Runner/Configs/Debug.xcconfig
widget_preview_test/macos/Runner/Configs/Release.xcconfig
widget_preview_test/macos/Runner/Configs/Warnings.xcconfig
widget_preview_test/macos/Runner.xcodeproj/project.pbxproj
widget_preview_test/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
widget_preview_test/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
widget_preview_test/macos/Runner.xcworkspace/contents.xcworkspacedata
widget_preview_test/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
widget_preview_test/macos/RunnerTests/RunnerTests.swift
widget_preview_test/test/widget_test.dart
widget_preview_test/web/favicon.png
widget_preview_test/web/index.html
widget_preview_test/web/manifest.json
widget_preview_test/web/icons/Icon-192.png
widget_preview_test/web/icons/Icon-512.png
widget_preview_test/web/icons/Icon-maskable-192.png
widget_preview_test/web/icons/Icon-maskable-512.png
widget_preview_test/windows/.gitignore
widget_preview_test/windows/CMakeLists.txt
widget_preview_test/windows/flutter/CMakeLists.txt
widget_preview_test/windows/flutter/generated_plugin_registrant.cc
widget_preview_test/windows/flutter/generated_plugin_registrant.h
widget_preview_test/windows/flutter/generated_plugins.cmake
widget_preview_test/windows/runner/CMakeLists.txt
widget_preview_test/windows/runner/flutter_window.cpp
widget_preview_test/windows/runner/flutter_window.h
widget_preview_test/windows/runner/main.cpp
widget_preview_test/windows/runner/resource.h
widget_preview_test/windows/runner/runner.exe.manifest
widget_preview_test/windows/runner/Runner.rc
widget_preview_test/windows/runner/utils.cpp
widget_preview_test/windows/runner/utils.h
widget_preview_test/windows/runner/win32_window.cpp
widget_preview_test/windows/runner/win32_window.h
widget_preview_test/windows/runner/resources/app_icon.ico
rules.md
SUMMARY.md
What’s new in Flutter 3.38. Write less, see more, build faster  by Kevin Chisholm  Nov, 2025  Flutter.md
Announcing Dart 3.10. Today, we’re excited to announce the…  by Amanda Fitch  Nov, 2025  Dart.md
ai-flutter-next-era.md
widget_preview_article.md
